.clients-set {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients__item {
  margin: 15px;
}
.clients__link {
  display: flex;
  align-items: center;
  height: 90px;
  width: calc((100vw - 4 * 15px) / 2);
  border: 1px solid $third_color;
  border-radius: 4px;
  fill: $third_color;
  &:hover,
  &:focus {
    border-color: $accent_color;
    fill: $accent_color;
  }
}
.clients__logo {
  margin: 0 auto;
}
