.logo {
  color: $black_color;
  font-family: $secondary_font;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 16px 0;
  &--accented {
    color: $accent_color;
  }
}
