.header {
  position: relative;
  border-bottom: 1px solid $header_border_color;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}
.mobile-menu-open-button {
  margin: 0;
  padding: 0;
  border: transparent;
  background-color: $white_color;
  transition: fill $cubic;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu-open__icon {
  transition: fill $cubic;
  .mobile-menu-open-button:hover &,
  .mobile-menu-open-button:focus & {
    fill: $accent_color;
  }
}
