.footer {
  background-color: $fifth_color;
  margin: 0;
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: center;
}
.container__title {
    display: block;
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white_color;
}