.section {
  margin: 0;
  padding: $section_padding;
}
.section__title {
  margin: 0 0 50px 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
